<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img
            src="https://1.bp.blogspot.com/-UCT2yAjlIIA/Xnb8jFEv6iI/AAAAAAAANdU/Qmigj2yDQkkyOhzTr5SncCoSBYg_U-nlwCLcBGAsYHQ/s1600/%25D8%25AC%25D8%25A7%25D9%2585%25D8%25B9%25D8%25A9%2B%25D8%25AA%25D8%25A8%25D9%2588%25D9%2583.jpg"
            width="60" style=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rec">مسؤول التوظيف</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/verifie">التحقق من الشهادة</a>
            </li>

        </ul>
    </div>
</nav>